<!-- Products Section -->
<section class="products-section py-5 mt-5">
  <div class="container">
    <app-product-filter></app-product-filter>
    <!-- LOADING -->
    @if (loading()) {
    <div class="row">
      @for (i of [1,2,3,4,5,6,7,8]; track i) {
      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="product-skeleton"></div>
      </div>
      }
    </div>
    }

    <!-- ERROR -->
    @else if (error()) {
    <div class="alert alert-danger text-center">
      ❌ حدث خطأ أثناء تحميل المنتجات
    </div>
    }

    <!-- EMPTY -->
    @else if (!products().length) {
    <div class="text-center py-5 text-muted">
      لا توجد منتجات حالياً
    </div>
    }

    <!-- PRODUCTS -->
    @else {
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4" role="list" aria-label="قائمة المنتجات">

      @for (product of products(); track product.id) {
      <div class="col" role="listitem">
        <article class="product-card h-100">

          <!-- IMAGE -->
          <div class="product-image">
            <img ngOptimizedImage [src]="product.image" [alt]="product.title" width="180" height="180"
              priority="false" />
          </div>

          <!-- CONTENT -->
          <div class="product-content">

            <!-- TITLE -->
            <h3 class="product-title" [title]="product.title">
              {{ product.title }}
            </h3>

            <!-- PRICE + RATING -->
            <div class="product-footer">
              <span class="price" aria-label="السعر {{ product.price }} دولار">
                {{ product.price | currency:'USD':'symbol':'1.2-2' }}
              </span>

              <span class="rating" aria-label="تقييم {{ product.rating.rate }} من 5">
                ⭐ {{ product.rating.rate }}
              </span>
            </div>

            <!-- ACTION -->
            <a [routerLink]="['/products', product.id]" class="btn btn-outline-primary btn-sm w-100 mt-3">
              عرض التفاصيل
            </a>
            <button class="btn btn-outline-success btn-sm w-100 mt-2" (click)="addToCart(product.id)"
              aria-label="إضافة {{ product.title }} إلى السلة">
              إضافة إلى السلة
            </button>
          </div>
        </article>
      </div>
      }

    </div>



    <app-product-pagination></app-product-pagination>


    }

  </div>
</section>
