<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="mb-3">
    <label class="form-label">User ID</label>
    <input type="number" class="form-control" formControlName="userId" />
  </div>

  <div class="mb-3">
    <label class="form-label">Date</label>
    <input type="date" class="form-control" formControlName="date" />
  </div>

  <h6 class="mt-4">Products</h6>

  <div formArrayName="products">
    @for (product of products.controls; let i = $index; track i) {
    <div [formGroupName]="i" class="row g-2 mb-2">

      <div class="col">
        <input type="number" class="form-control" placeholder="Product ID" formControlName="productId" />
      </div>

      <div class="col">
        <input type="number" class="form-control" placeholder="Qty" formControlName="quantity" />
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-outline-danger" (click)="removeProduct(i)"
          [disabled]="products.length === 1">
          ✖
        </button>
      </div>

    </div>
    }
  </div>

  <button type="button" class="btn btn-outline-primary btn-sm mb-3" (click)="addProduct()">
    ➕ Add Product
  </button>

  <button class="btn btn-success w-100" type="submit" [disabled]="form.invalid">
    Save Cart
  </button>

</form>