<div class="container  mt-5">
  <footer class="py-5">
    <div class="row">
      <!-- أقسام الروابط -->
      <ng-container *ngFor="let section of sections">
        <div class="col-6 col-md-2 mb-3" [class.text-end]="theme.rtl()">
          <h5>{{section.title}}</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" *ngFor="let link of section.links">
              <a href="{{link.url}}" class="nav-link p-0 text-body-secondary">{{link.label}}</a>
            </li>
          </ul>
        </div>
      </ng-container>

      <!-- نموذج الاشتراك -->
      <div class="col-md-5 offset-md-1 mb-3" [class.text-end]="theme.rtl()">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="email" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <!-- الحقوق وروابط التواصل الاجتماعي -->
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
      [class.text-end]="theme.rtl()">
      <p>&copy; 2025 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex justify-content-end">
        <li class="ms-3" *ngFor="let social of socials">
          <a class="link-body-emphasis" [href]="social.url" [attr.aria-label]="social.label">
            <svg class="bi" width="24" height="24">
              <use [attr.xlink:href]="social.icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>